# Backend
backend/target/
backend/.mvn/
backend/.env
*.class

# Frontend
frontend/node_modules/
frontend/dist/
frontend/.env

# IDE / OS
.idea/
.vscode/
*.iml
.DS_Store

backend/src/main/resources/application.yml